/*
  Copyright 2019 Team 254. All Rights Reserved.
  Author: pat@patfairbank.com (Patrick Fairbank)
*/
html {
  height: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  overscroll-behavior: none;
}
body {
  height: 100%;
  background-color: #222;
  overscroll-behavior: none;
}
.container {
  padding-top: 1vw;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
#alliance {
  width: 98%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 25px;
  border: 1px solid #424242;
}
#alliance[data-alliance="red"] {
  background-color: #322;
}
#alliance[data-alliance="blue"] {
  background-color: #223;
}
#matchName {
  font-size: 2vw;
}
.scoring-section {
  margin-bottom: 0.5vw;
  display: flex;
  font-size: 1.5vw;
  color: #ccc;
}
.scoring-header>div{
  height: 3.3vw;
  display: flex;
  align-items: center;
  margin: 0.4vw 1vw 0.4vw 0.2vw;
  color: #ccc;
}
.robot-field {
  width: 17vw;
  height: 3.3vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.4vw 0.2vw;
}
.team {
  display: flex;
  justify-content: center;
  font-size: 3vw;
  font-weight: bold;
}
.boolean[data-value="false"] {
  background-color: #424242;
}
.boolean[data-value="true"] {
  background-color: #388E3C;
}
.endgame-status[data-value="0"] {
  background-color: #424242;
}
.endgame-status[data-value="1"] {
  background-color: #B71C1C;
}
.endgame-status[data-value="2"] {
  background-color: #827717;
}
.endgame-status[data-value="3"] {
  background-color: #388E3C;
}
.harmony[data-value="false"] {
  background-color: #B71C1C;
}
.harmony[data-value="true"] {
  background-color: #388E3C;
}
#stage {
  width: 70vw;
  justify-content: center;
  align-items: center;
}

.two-col {
  width: 40vw;
  margin: 1.5vw;
  display: flex;
  font-size: 1.5vw;
  color: #ccc;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.two-col-header {
  display: flex;
  justify-content: center;
  font-size: 2vw;
  font-weight: bold;
  margin: 0.4vw 0vw;
}

.two-col-row {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 0.4vw;
}

.two-col-scoring-header {
  height: 3.3vw;
  width: 8vw;
  display: flex;
  align-items: center;
  color: #ccc;
  margin: 0.4vw 1vw 0.4vw 0.2vw;
}

.two-col-scoring-minus {
  width: 4vw;
  height: 3.3vw;
  font-size: 2vw;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #B71C1C;
  border: 1px solid #eee;
  margin: 0.4vw 0.2vw;
}

.two-col-scoring-plus {
  width: 4vw;
  height: 3.3vw;
  font-size: 2vw;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1A237E;
  border: 1px solid #eee;
  margin: 0.4vw 0.2vw;
}

.two-col-scoring-field {
  width: 8vw;
  height: 3.3vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #757575;
  margin: 0.4vw 0.2vw;
}

.two-col-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: medium solid #BDBDBD;
  margin-top: 1vw;
}

.bonus-row {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin: 0.4vw 0.2vw;
}

.bonus-node {
  width: 15vw;
  height: 3.3vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.4vw 0.2vw;
}

.bonus-light {
  border: 1px solid #BDBDBD;
}
.bonus-light[data-value="true"] {
  background-color: #388E3C;
}
.bonus-light[data-value="false"] {
  background-color: #424242;
}
.bonus-btn {
  border: 2px solid #BDBDBD;
  background-color: #827717;
}
.bonus-btn[disabled] {
  background-color: transparent;
}

#postMatchMessage {
  height: 5vw;
  display: none;
  align-items: center;
  font-size: 1.5vw;
  color: #c90;
}
#commitMatchScore {
  height: 5vw;
  display: none;
  align-items: center;
}
#commitMatchScore>button {
  font-size: 1vw;
}
